:global(.virtualStyle) {
  padding: 0!important;
  margin: 0!important;
  height: 0!important;
  background-color: yellow;
}

:global(.actualStyle) {
  background-color: "transparent";
}

* {
  box-sizing: border-box;
}
:global(.row::after) {
  content: "";
  clear: both;
  display: table;
}

:global([class*="col-"]) {
  float: left;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  :global(.zero-p-) {visibility: collapse; width:0%; border:0}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* For tablets: */
  :global(.zero-m-) {visibility: collapse; width:0%; border:0}
  :global(.col-m-1) {width: 8.33%;}
  :global(.col-m-2) {width: 16.66%;}
  :global(.col-m-3) {width: 25%;}
  :global(.col-m-4) {width: 33.33%;}
  :global(.col-m-5) {width: 41.66%;}
  :global(.col-m-6) {width: 50%;}
  :global(.col-m-7) {width: 58.33%;}
  :global(.col-m-8) {width: 66.66%;}
  :global(.col-m-9) {width: 75%;}
  :global(.col-m-10) {width: 83.33%;}
  :global(.col-m-11) {width: 91.66%;}
  :global(.col-m-12) {width: 100%;}
}	
@media only screen and (min-width: 768px) {	
  :global(.zero-) {visibility: collapse; width:0%; border:0}
  :global(.col-1) {width: 8.33%;}
  :global(.col-2) {width: 16.66%;}
  :global(.col-3) {width: 25%;}
  :global(.col-4) {width: 33.33%;}
  :global(.col-5) {width: 41.66%;}
  :global(.col-6) {width: 50%;}
  :global(.col-7) {width: 58.33%;}
  :global(.col-8) {width: 66.66%;}
  :global(.col-9) {width: 75%;}
  :global(.col-10) {width: 83.33%;}
  :global(.col-11) {width: 91.66%;}
  :global(.col-12) {width: 100%;}
}	