.cell {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

.unselected { background-color: rgba(0,0,0,0.5); }
.selected { background-color: none; }