.tissue {
  width: 180px;
  height: 280px;
  display: inline-block;
  margin:4px;
}

.unselected { background-color: none; opacity: 0.3; border: solid; border-color: lightgray; border-width: thin }
.selected { background-color: lightgrey; }

.index {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  display: inline-block;
  width: 30px;
}

.tissueType {
  display: inline-block;
  width: 100px;
}

.location {
  width: 100%;
}

.nrOfBits {
  width: 100%
}

.casOdvzema {
  width: 100%
}

.fixative {
  width: 100%
}

.buttonNotes {
  width: 100%
}

.buttonLocation {
  width: 100%
}